html,
body {
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.btn-link {
  display: block;
  width: 306px;
  height: 100px;
  position: relative;
}
.btn-link .btn {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-link .btn__arrow {
  margin: 42.5px 29px 42.5px 29px;
}
.btn-link .btn__text {
  position: absolute;
  top: 64px;
  left: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-link:hover .btn {
  background-color: #a9a32a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social {
  width: 166px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.social__link:hover .footer__social-icon path {
  fill: #a9a32a;
}

.main {
  background: white;
}

.title {
  font-size: 24px;
  font-weight: Bold;
  line-height: 33px;
  color: #868585;
  margin-bottom: 60px;
}

.slide__arrows {
  width: 102px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slide__arrows-link-svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slide__arrows-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slide__arrows-link:hover .slide__arrows-link-svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.slide__arrows-link:hover .slide__arrows-link-svg path {
  fill: #a9a32a;
}

.header {
  background: url("../img/1.cover/fon.jpg") center center/cover no-repeat;
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
  color: #ffffff;
}
.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin: 70px auto 140px auto;
}
.header__pre-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
@media (max-width: 960px) {
  .header__pre-title {
    font-size: 14px;
  }
}
.header__title {
  font-size: 64px;
  font-weight: Bold;
  line-height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  margin-bottom: 3px;
}
@media (max-width: 960px) {
  .header__title {
    font-size: 42px;
  }
}
@media (max-width: 390px) {
  .header__title {
    font-size: 34px;
  }
}
.header__subtitle {
  font-size: 42px;
  font-weight: 400;
  line-height: 57px;
  min-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 50px;
}
@media (max-width: 960px) {
  .header__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 390px) {
  .header__subtitle {
    font-size: 18px;
  }
}
.header__btn-block {
  margin-bottom: 250px;
}
@media (max-width: 643px) {
  .header__btn-block {
    margin-bottom: 163px;
  }
}
@media (max-width: 390px) {
  .header__btn-block {
    width: 100%;
  }
}

.services {
  min-height: 763px;
  margin-bottom: 150px;
}
.services__title {
  max-width: 510px;
}
@media (max-width: 1000px) {
  .services__title {
    margin: 0 auto 60px auto;
  }
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.services__content-text {
  max-width: 510px;
  margin-right: 90px;
}
@media (max-width: 1000px) {
  .services__content-text {
    margin: 0 auto;
  }
}
.services__subtitle {
  font-size: 18px;
  font-weight: Bold;
  line-height: 25px;
  color: #303030;
  margin-bottom: 15px;
}
.services__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #303030;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .services__img {
    max-width: 600px;
    margin: 0 auto;
  }
}
.services__conten-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.greentarif {
  min-height: 765px;
  margin-bottom: 150px;
}
.greentarif__title {
  max-width: 510px;
}
@media (max-width: 1000px) {
  .greentarif__title {
    margin: 0 auto 60px auto;
  }
}
.greentarif__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  .greentarif__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}
.greentarif__content-left {
  min-width: 450px;
  margin-right: 90px;
  position: relative;
}
@media (max-width: 1000px) {
  .greentarif__content-left {
    max-width: 510px;
    margin: 0 auto 60px auto;
  }
}
@media (max-width: 480px) {
  .greentarif__content-left {
    min-width: 320px;
  }
}
.greentarif__content-tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.greentarif__content-tabs-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-right: 40px;
}
@media (max-width: 480px) {
  .greentarif__content-tabs-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 20px;
  }
}
.greentarif__tabs-dots {
  font-size: 0;
  width: 80px;
  border: 1px solid #303030;
  margin-bottom: 120px;
}
@media (max-width: 480px) {
  .greentarif__tabs-dots {
    width: 60px;
  }
}
.greentarif__content-slider {
  max-width: 510px;
  margin-bottom: 100px;
}
.greentarif__content-slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 40px 1fr;
      grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 480px) {
  .greentarif__content-slide {
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(2, 1fr)/repeat(1, 1fr);
    margin: 0 auto 0 auto;
  }
}
.greentarif__content-slide-img {
  max-width: 235px;
}
.greentarif__content-slide-text {
  max-width: 230px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.greentarif__content-slide-arrows {
  position: absolute;
  top: 344px;
  left: 276px;
}
@media (max-width: 480px) {
  .greentarif__content-slide-arrows {
    top: 44%;
    left: 36%;
  }
}
.greentarif__content-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 40px 1fr;
  -ms-grid-columns: 1fr 40px 1fr;
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 480px) {
  .greentarif__content-info {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(4, 1fr)/repeat(1, 1fr);
    justify-items: center;
  }
}
.greentarif__content-info-item {
  max-width: 235px;
}
.greentarif__content-info-title {
  font-size: 18px;
  font-weight: Bold;
  line-height: 25px;
  margin-bottom: 5px;
}
.greentarif__content-info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.greentarif__content-right {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
}
@media (max-width: 1000px) {
  .greentarif__content-right {
    margin: 0 auto;
  }
}
.greentarif__content-right-title {
  font-size: 18px;
  font-weight: Bold;
  line-height: 25px;
  margin-bottom: 27px;
}
.greentarif__content-right-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.quotes {
  background: url("../img/4.quotes/Rectangle 10.jpg") center center/cover no-repeat;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}
.quotes__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 57px;
  color: #ffffff;
  max-height: 228px;
  max-width: 673px;
  text-align: center;
}
@media (max-width: 720px) {
  .quotes__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 47px;
  }
}
@media (max-width: 380px) {
  .quotes__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 47px;
  }
}

.ourclients {
  margin-bottom: 150px;
}
.ourclients__title {
  max-width: 600px;
}
@media (max-width: 1150px) {
  .ourclients__title {
    margin: 0 auto 60px auto;
  }
}
.ourclients__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 1150px) {
  .ourclients__inner {
    max-width: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 150px auto;
  }
}
.ourclients__slider {
  margin-bottom: 32px;
  margin-right: 91px;
}
@media (max-width: 540px) {
  .ourclients__slider {
    margin-right: 0;
  }
}
.ourclients__slide {
  width: 100%;
  height: 100%;
}
@media (max-width: 540px) {
  .ourclients__slide-img {
    width: 100%;
  }
}
.ourclients__slide-arrows {
  position: absolute;
  top: 395px;
  left: 276px;
}
@media (max-width: 540px) {
  .ourclients__slide-arrows {
    left: 50%;
  }
}
@media (max-width: 500px) {
  .ourclients__slide-arrows {
    top: 42%;
  }
}
@media (max-width: 400px) {
  .ourclients__slide-arrows {
    top: 37%;
  }
}
@media (max-width: 1150px) {
  .ourclients__content {
    margin-top: 100px;
  }
}
.ourclients__content-title {
  font-size: 18px;
  font-weight: Bold;
  line-height: 25px;
  margin-bottom: 30px;
}
.ourclients__content-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 15px;
  padding: 0 0 0 51px;
}
.ourclients__btn-block {
  margin-top: 65px;
}
.ourclients__btn-arrow path {
  fill: #303030;
}

.steps {
  margin-bottom: 150px;
}
.steps__ineer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  .steps__ineer {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.steps__content {
  max-width: 510px;
  margin-right: 90px;
}
@media (max-width: 1000px) {
  .steps__content {
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .steps__list {
    margin-bottom: 100px;
  }
}
.steps__item {
  margin-bottom: 30px;
}
.steps__item:last-child {
  margin-bottom: 0;
}
.steps__number {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #868585;
  margin-bottom: 10px;
}
.steps__item-title {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: Bold;
  line-height: 24px;
}
.steps__item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.steps__content-img {
  max-width: 600px;
}
@media (max-width: 1000px) {
  .steps__content-img {
    margin: 0 auto;
  }
}
.steps__content-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: url("../img/7.footer/Rectangle 13.jpg") center center/cover no-repeat;
  min-height: 730px;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0 0 0;
}
@media (max-width: 910px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__request {
  max-width: 510px;
  width: 100%;
  margin-right: 90px;
  margin-bottom: 100px;
}
@media (max-width: 910px) {
  .footer__request {
    margin: 0 auto 100px auto;
  }
}
.footer__request-title {
  font-size: 24px;
  font-weight: Bold;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 60px;
}
.footer__request-form-row {
  width: 100%;
  min-height: 30px;
  margin-bottom: 60px;
  border: none;
  border-bottom: 1px solid #fff;
}
.footer__request-form-input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
  background: transparent;
}
.footer__request-form-input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer__request-form-input::-moz-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer__request-form-input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer__request-form-input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer__request-form-input::placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer__request-btn {
  color: #ffffff;
}
.footer__request-btn-arrow path {
  fill: #ffffff;
}
.footer__request-btn-text {
  color: #ffffff;
}
.footer__contacts {
  margin-bottom: 150px;
}
@media (max-width: 910px) {
  .footer__contacts {
    max-width: 510px;
    margin: 0 auto 100px auto;
  }
}
.footer__contacts-title {
  font-size: 24px;
  font-weight: Bold;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 60px;
}
.footer__contacts-text {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}
.footer__contacts-text:last-child {
  margin-bottom: 0;
}
.footer__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
      grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 910px) {
  .footer__bottom {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(3, 1fr)/repeat(1, 1fr);
    justify-items: center;
  }
}
.footer__bottom-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}
@media (max-width: 400px) {
  .footer__bottom-text {
    font-size: 14px;
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}