html,
body {
  font-family: Noto Sans, sans-serif;
}

.wrapper {
  min-height: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  height: 100%;
  padding: 0 0;
  margin: 0 auto;
}

.btn-link {
  display: block;
  width: 308px;
  height: 100px;
  position: relative;
}
.btn-link .button {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-link .button svg {
  margin: 42.5px 29px 42.5px 29px;
}
.btn-link p {
  position: absolute;
  top: 64px;
  left: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-link:hover .button {
  background-color: #a9a32a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social svg {
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social a {
  margin: 0 20px 0 0;
}
.social a:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.social a a:last-child {
  margin: 0;
}

.slide-arrows {
  width: 102px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slide-arrows svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slide-arrows .arrows-link:hover svg path {
  fill: #a9a32a;
}
.slide-arrows a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header {
  background: url("../img/1.cover/fon.jpg") center center/cover no-repeat;
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}
header .header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__block svg {
  margin: 70px auto 140px auto;
}
header .header__block p,
header .header__block h1,
header .header__block h2 {
  color: #ffffff;
}
header .header__block p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
header .header__block h1 {
  font-size: 64px;
  font-weight: Bold;
  min-height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 3px;
}
header .header__block h2 {
  font-size: 42px;
  font-weight: 400;
  line-height: 57px;
  min-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 50px;
}
header .header__block .header__btn-block {
  margin-bottom: 250px;
}
header .header__block .header__btn {
  border-color: #ffffff;
}
header .header__block .social svg {
  margin: 0;
}

.services {
  min-height: 763px;
  margin-bottom: 150px;
}
.services h1 {
  font-size: 24px;
  font-weight: Bold;
  color: #868585;
  margin-bottom: 60px;
}
.services .services__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 90px 1fr;
      grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  gap: 90px;
}
.services .services__content .services__content-text h2 {
  font-size: 18px;
  font-weight: Bold;
  line-height: 25px;
  color: #303030;
  margin-bottom: 15px;
}
.services .services__content .services__content-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #303030;
  margin-bottom: 50px;
}
.services .services__content .services__content-text .services__img {
  text-align: -webkit-center;
}
.services .services__content .services__content-text .services__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.greentarif {
  min-height: 765px;
  margin-bottom: 150px;
}
.greentarif h1 {
  font-size: 24px;
  font-weight: Bold;
  color: #868585;
  margin-bottom: 60px;
}
.greentarif .greentarif__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.greentarif .greentarif__content-left {
  max-width: 510px;
  margin-right: 90px;
  position: relative;
}
.greentarif .greentarif__content-left .greentarif__content-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 125px;
}
.greentarif .greentarif__content-left .greentarif__content-tabs a {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-right: 40px;
}
.greentarif .greentarif__content-left .greentarif__content-tabs .greentarif__content-tabs-link--active {
  border-bottom: 1px solid #303030;
}
.greentarif .greentarif__content-left .greentarif__content-slider {
  margin-bottom: 100px;
}
.greentarif .greentarif__content-left .greentarif__content-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.greentarif .greentarif__content-left .greentarif__content-slide img {
  margin-right: 40px;
}
.greentarif .greentarif__content-left .greentarif__content-slide p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.greentarif .greentarif__content-left .greentarif__content-slide-arrows {
  position: absolute;
  bottom: 50.5%;
  right: 26%;
}
.greentarif .greentarif__content-left .greentarif__content-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 40px 1fr;
  -ms-grid-columns: 1fr 40px 1fr;
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 40px;
}
.greentarif .greentarif__content-left .greentarif__content-info h2 {
  font-size: 18px;
  font-weight: Bold;
  line-height: 25px;
  margin-bottom: 5px;
}
.greentarif .greentarif__content-left .greentarif__content-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.greentarif .greentarif__content-right {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.greentarif .greentarif__content-right h2 {
  font-size: 18px;
  font-weight: Bold;
  line-height: 25px;
  margin-bottom: 27px;
}

.quotes {
  background: url("../img/4.quotes/Rectangle 10.jpg") center center/cover no-repeat;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}
.quotes h2 {
  font-size: 42px;
  font-weight: 400;
  line-height: 57px;
  color: #ffffff;
  max-height: 228px;
  max-width: 673px;
  text-align: center;
}

.ourclients {
  max-height: 495px;
  margin-bottom: 150px;
}
.ourclients h1 {
  font-size: 24px;
  font-weight: Bold;
  color: #868585;
  margin-bottom: 60px;
}
.ourclients .ourclients__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.ourclients .ourclients__inner .ourclients__slider {
  max-width: 510px;
  margin-bottom: 32px;
  margin-right: 91px;
}
.ourclients .ourclients__inner .ourclients__slide-arrows {
  position: absolute;
  bottom: 0%;
  left: 23%;
}
.ourclients .ourclients__inner .ourclients__content h2 {
  font-size: 18px;
  font-weight: Bold;
  line-height: 25px;
  margin-bottom: 30px;
}
.ourclients .ourclients__inner .ourclients__content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 15px;
  padding: 0 0 0 51px;
}
.ourclients .ourclients__inner .ourclients__content .ourclients__btn {
  margin-top: 65px;
  border-color: #303030;
}
.ourclients .ourclients__inner .ourclients__content .ourclients__btn svg path {
  fill: #303030;
}

.steps {
  max-height: 730px;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.steps .steps__ineer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.steps .steps__ineer .steps__content {
  max-width: 510px;
  margin-right: 90px;
}
.steps .steps__ineer .steps__content h1 {
  font-size: 24px;
  font-weight: Bold;
  color: #868585;
  margin-bottom: 60px;
}
.steps .steps__ineer .steps__content li {
  margin-bottom: 30px;
}
.steps .steps__ineer .steps__content li:last-child {
  margin-bottom: 0;
}
.steps .steps__ineer .steps__content li .steps__number {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #868585;
  margin-bottom: 11px;
}
.steps .steps__ineer .steps__content li h2 {
  font-size: 18px;
  font-weight: Bold;
  line-height: 25px;
  margin-bottom: 2px;
}
.steps .steps__ineer .steps__content li p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.steps .steps__ineer img {
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  background: url("../img/7.footer/Rectangle 13.jpg") center center/cover no-repeat;
  min-height: 730px;
}
.footer h1 {
  font-size: 24px;
  font-weight: Bold;
  color: #ffffff;
  margin-bottom: 60px;
}
.footer p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}
.footer path {
  fill: #ffffff;
}
.footer .footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0 0 0;
}
.footer .footer__body .footer__request {
  max-width: 510px;
  width: 100%;
  margin-right: 90px;
}
.footer .footer__body .footer__request .footer__request-form-row {
  width: 100%;
  min-height: 30px;
  margin-bottom: 60px;
  border: none;
  border-bottom: 1px solid #fff;
}
.footer .footer__body .footer__request .footer__request-form-row .footer__request-form-input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
  background: transparent;
}
.footer .footer__body .footer__request .footer__request-form-row .footer__request-form-input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer .footer__body .footer__request .footer__request-form-row .footer__request-form-input::-moz-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer .footer__body .footer__request .footer__request-form-row .footer__request-form-input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer .footer__body .footer__request .footer__request-form-row .footer__request-form-input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer .footer__body .footer__request .footer__request-form-row .footer__request-form-input::placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer .footer__body .footer__request .footer__request-btn {
  border-color: #ffffff;
}
.footer .footer__body .footer__request .footer__request-btn svg path {
  fill: #ffffff;
}
.footer .footer__body .footer__contacts {
  margin-bottom: 150px;
}
.footer .footer__body .footer__contacts p {
  margin-bottom: 30px;
}
.footer .footer__body .footer__contacts p:last-child {
  margin-bottom: 0;
}
.footer .footer__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
      grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  gap: 10px;
}
.footer .footer__bottom .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__bottom .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer .footer__bottom .social a:hover svg path {
  fill: #a9a32a;
}