@import "variables";
@import "mixins";

html,
body {
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  // color: $color_black;
}

.wrapper {
  min-height: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.btn-link {
  display: block;
  width: 306px;
  height: 100px;
  position: relative;

  .btn {
    background-color: #a9a32a00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid;
    transition: all 0.3s;

    // .btn__arrow
    &__arrow {
      margin: 42.5px 29px 42.5px 29px;
    }

    // .btn__text
    &__text {
      position: absolute;
      top: 64px;
      left: 60px;
      transition: all 0.3s;
    }
  }

  &:hover {
    .btn {
      background-color: #a9a32a;
      transform: scale(1.1);
    }
  }

}


.social {
  width: 166px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    &:hover {
      transform: scale(1.1);
      .footer__social-icon path{
          fill: $color_yellow;
          }
        }
    }
}


.main {
  background: #ffff;
}

.title {
  font-size: 24px;
  font-weight: Bold;
  line-height: 33px;
  color: $color_grey;
  margin-bottom: 60px;
}

.slide {

  // .slide__arrows
  &__arrows {
    width: 102px;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__arrows-link-svg{
    transition: all .3s;
  }
  // .slide__arrows-link
  &__arrows-link {
    transition: all .3s;
    &:hover {
      .slide__arrows-link-svg {
        transform: scale(1.1);

        path {
          fill: $color_yellow;
        }
      }
    }
  }
}


// ===header===============================================================================

.header {
  background: url("../img/1.cover/fon.jpg") center center / cover no-repeat;
  min-height: 900px;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  color: $color_white;

  // .header__block
  &__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  // .header__logo
  &__logo {
    margin: 70px auto 140px auto;
  }

  // .header__pre-title
  &__pre-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    @media (max-width: 960px) {
      font-size: 14px;
    }
  }

  // .header__title
  &__title {
    font-size: 64px;
    font-weight: Bold;
    line-height: 87px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 3px;

    @media (max-width: 960px) {
      font-size: 42px;
    }

    @media (max-width: 390px) {
      font-size: 34px;
    }

  }

  // .header__subtitle
  &__subtitle {
    font-size: 42px;
    font-weight: 400;
    line-height: 57px;
    min-height: 57px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;

    @media (max-width: 960px) {
      font-size: 24px;
    }

    @media (max-width: 390px) {
      font-size: 18px;
    }
  }

  // .header__btn-block
  &__btn-block {
    margin-bottom: 250px;

    @media (max-width: 643px) {
      margin-bottom: 163px;
    }

    @media (max-width: 390px) {
      width: 100%;
    }
  }

}

// // ================================services=============================================

.services {
  min-height: 763px;
  margin-bottom: 150px;

  // .services__title
  &__title {
    max-width: 510px;

    @media (max-width: 1000px) {
      margin: 0 auto 60px auto;
    }
  }

  // .services__content
  &__content {
    display: flex;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  // .services__content-text
  &__content-text {
    max-width: 510px;
    margin-right: 90px;

    @media (max-width: 1000px) {
      margin: 0 auto;
    }
  }

  // .services__subtitle
  &__subtitle {
    font-size: 18px;
    font-weight: Bold;
    line-height: 25px;
    color: $color_black;
    margin-bottom: 15px;
  }

  // .services__text
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: $color_black;
    margin-bottom: 50px;
  }

  // .services__img
  &__img {
    @media (max-width: 1000px) {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  // .services__conten-img
  &__conten-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slick-initialized .slick-slide{
  display: flex;
}

// // ================================greentarif============================================

.greentarif {
  min-height: 765px;
  margin-bottom: 150px;

  // .greentarif__title
  &__title {
    max-width: 510px;

    @media (max-width: 1000px) {
      margin: 0 auto 60px auto;
    }
  }

  // .greentarif__content
  &__content {
    display: flex;

    @media (max-width: 1000px) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  // .greentarif__content-left
  &__content-left {
    // min-width: 450px;
    margin-right: 90px;
    position: relative;

    @media (max-width: 1000px) {
      max-width: 510px;
      margin: 0 auto 60px auto;

    }

    @media (max-width: 480px) {
      max-width: 320px;
    }

  }
  // .greentarif__content-tabs-list
  &__content-tabs-list {
    display: flex;
    margin-bottom: 5px;
    max-width: 400px;

    .slick-current{
      border-bottom: 1px solid $color_black;
    }
  }



  // .greentarif__content-tabs-item
  &__content-tabs-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-right: 40px;
    transition: all 1s;

    @media (max-width: 480px) {
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      margin-right: 20px;
    }
  }

  // .greentarif__tabs-dots
  &__tabs-dots {
    margin-bottom: 120px;

    // .slick-dots{
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;

    //   li{
    //     list-style: none;
    //   }

    //   button{
    //     background-color: $color_white;
    //     height: 30px;
    //     width: 80px;
    //     font-size: 0;
    //   }
    //   .slick-active{
    //     border-bottom: 1px solid $color_black;
    //   }
    // }


    @media (max-width: 480px) {
      width: 60px;
    }
  }

  // .greentarif__content-slider
  &__content-slider {
    max-width: 510px;
    margin-bottom: 100px;

    @media (max-width: 540px) {
      max-width: 235px;
      margin: 0 auto 100px auto;
    }

  }

  // .greentarif__content-slide
  &__content-slide {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    gap: 40px;

    @media (max-width: 540px) {
      display: flex;
      flex-direction: column;
      // margin: 0 auto 0 auto;
    }
  }

  // .greentarif__content-slide-img
  &__content-slide-img {
    max-width: 235px;
    // margin-right: 40px;
  }

  // .greentarif__content-slide-text
  &__content-slide-text {
    max-width: 230px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  // .greentarif__content-slide-arrows
  &__content-slide-arrows {
    position: absolute;
    top: 344px;
    left: 276px;

    @media (max-width: 540px) {
      top: 47%;
      left: 50%;
    }

  }

  // .greentarif__content-info
  &__content-info {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 40px;

    @media (max-width: 540px) {
      grid-template: repeat(4, 1fr) / repeat(1, 1fr);
      justify-items: center;
    }
  }

  // .greentarif__content-info-item
  &__content-info-item {
    // margin: 0 auto;
    max-width: 235px;
  }

  // .greentarif__content-info-title
  &__content-info-title {
    font-size: 18px;
    font-weight: Bold;
    line-height: 25px;
    margin-bottom: 5px;
  }

  // .greentarif__content-info-text
  &__content-info-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  // .greentarif__content-right
  &__content-right {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    max-width: 600px;

    @media (max-width: 1000px) {
      margin: 0 auto;
    }
  }

  // .greentarif__content-right-title
  &__content-right-title {
    font-size: 18px;
    font-weight: Bold;
    line-height: 25px;
    margin-bottom: 27px;
  }

  // .greentarif__content-right-img
  &__content-right-img {}

  // .greentarif__content-right-image
  &__content-right-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// // ================================quotes================================================

.quotes {
  background: url("../img/4.quotes/Rectangle\ 10.jpg") center center / cover no-repeat;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;

  // .quotes__title
  &__title {
    font-size: 42px;
    font-weight: 400;
    line-height: 57px;
    color: $color_white;
    max-height: 228px;
    max-width: 673px;
    text-align: center;

    @media (max-width: 720px) {
      font-size: 32px;
      font-weight: 400;
      line-height: 47px;
    }

    @media (max-width: 380px) {
      font-size: 24px;
      font-weight: 400;
      line-height: 47px;
    }
  }
}

// // ================================ourclients============================================

.ourclients {
  // max-height: 495px;
  margin-bottom: 150px;

  //.ourclients__title
  &__title {
    max-width: 600px;

    @media (max-width: 1150px) {
      margin: 0 auto 60px auto;
    }
  }

  // .ourclients__inner
  &__inner {
    display: flex;
    position: relative;

    @media (max-width: 1150px) {
      max-width: 600px;
      flex-direction: column;
      margin: 0 auto 150px auto;
    }
  }
  //ourclients__slider-block
  &__slider-block{
    max-width: 510px;
    margin-bottom: 32px;
    margin-right: 91px;

    @media (max-width: 540px) {
      margin-right: 0;
    }
  }
  // .ourclients__slider
  &__slider {
  }

  // .ourclients__slide
  &__slide {
    width: 100%;
    height: 100%;
  }

  // .ourclients__slide-img
  &__slide-img {

    @media (max-width: 540px) {
      // margin-bottom: 100px;
      width: 100%;
    }
  }

  // .ourclients__slide-arrows
  &__slide-arrows {
    position: absolute;
    top: 395px;
    left: 276px;

    @media (max-width: 540px) {
      // top: 40%;
      left: 50%;
    }

    @media (max-width: 500px) {
      top: 42%;
    }

    @media (max-width: 400px) {
      top: 37%;
    }
  }

  // .ourclients__content
  &__content {
    @media (max-width: 1150px) {
      margin-top: 100px;
    }
  }

  // .ourclients__content-title
  &__content-title {
    font-size: 18px;
    font-weight: Bold;
    line-height: 25px;
    margin-bottom: 30px;
  }

  // .ourclients__content-text
  &__content-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
    padding: 0 0 0 51px;
  }

  // .ourclients__btn-block
  &__btn-block {
    margin-top: 65px;
  }

  // .ourclients__btn-arrow
  &__btn-arrow {
    path {
      fill: $color_black;
    }
  }

}

// // ================================steps==================================================

.steps {
  margin-bottom: 150px;

  // .steps__ineer
  &__ineer {
    display: flex;

    @media (max-width: 1000px) {
      margin: 0 auto;
      flex-direction: column;
    }
  }

  // .steps__content
  &__content {
    max-width: 510px;
    margin-right: 90px;

    @media (max-width: 1000px) {
      margin: 0 auto;
    }
  }

  // .steps__list
  &__list {
    @media (max-width: 1000px) {
      margin-bottom: 100px;
    }
  }

  // .steps__item
  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .steps__number
  &__number {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: $color_grey;
    margin-bottom: 10px;
  }

  // .steps__item-title
  &__item-title {
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: Bold;
    line-height: 24px;
  }

  // .steps__item-text
  &__item-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px
  }

  // .steps__content-img
  &__content-img {
    max-width: 600px;

    @media (max-width: 1000px) {
      margin: 0 auto;
    }

  }

  // .steps__content-image
  &__content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// // ================================footer=================================================

.footer {
  background: url("../img/7.footer/Rectangle\ 13.jpg") center center / cover no-repeat;
  min-height: 730px;

  // .footer__body
  &__body {
    display: flex;
    padding: 70px 0 0 0;

    @media (max-width: 910px){
      flex-direction: column;
    }
  }

  // .footer__request
  &__request {
    max-width: 510px;
    width: 100%;
    margin-right: 90px;
    margin-bottom: 100px;

    @media (max-width: 910px){
      margin: 0 auto 100px auto;
    }
  }

  // .footer__request-title
  &__request-title {
    font-size: 24px;
    font-weight: Bold;
    line-height: 33px;
    color: $color_white;
    margin-bottom: 60px;
  }

  // .footer__request-form
  &__request-form {}

  // .footer__request-form-row
  &__request-form-row {
    width: 100%;
    min-height: 30px;
    margin-bottom: 60px;
    border: none;
    border-bottom: 1px solid #fff;

  }

  // .footer__request-form-label
  &__request-form-label {}

  // .footer__request-form-input
  &__request-form-input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: $color_white;
    background: transparent;

    &::placeholder {
      color: $color_white;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
    }
  }

  // .footer__request-btn
  &__request-btn {
    color: $color_white;
  }

  // .footer__request-btn-arrow
  &__request-btn-arrow {
    path {
      fill: $color_white;
    }
  }
  // .footer__request-btn-text
  &__request-btn-text{
    color: $color_white;
  }
  // .footer__contacts
  &__contacts {
    margin-bottom: 150px;

    @media (max-width: 910px){
      max-width: 510px;
      margin: 0 auto 100px auto;
    }
  }

  // .footer__contacts-title
  &__contacts-title {
    font-size: 24px;
    font-weight: Bold;
    line-height: 33px;
    color: $color_white;
    margin-bottom: 60px;
  }

  // .footer__contacts-text
  &__contacts-text {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: $color_white;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .footer__bottom
  &__bottom {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    gap: 10px;

    @media (max-width: 910px) {
      grid-template: repeat(3, 1fr) / repeat(1, 1fr);
      justify-items: center;
    }

  }

  // .footer__bottom-text
  &__bottom-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: $color_white;

    @media (max-width: 400px){
      font-size: 14px;
    }

  }

  // .footer__logo
  &__logo {
    display: flex;
    justify-content: center;
  }


  // .footer__social
  &__social {
    display: flex;
    justify-content: flex-end;
  }

  // .footer__socia-icon
  &__socia-icon {}

}